body {
    background: linear-gradient(powderblue, cornflowerblue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: none;
    font-size: 1.2em;
}

p {
    color:darkslateblue;
    text-align: left;
}

h1 {
    color:forestgreen;
    text-align: center;
}

h2 {
    color:darkslateblue;
    text-align: center;
}

ul {
    color:darkslateblue;
    text-align: left;
}

ol {
    color:darkslateblue;
    text-align: left;
}

.sideBySide {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}